{% extends 'master.html' %}
{% load server_list %}
{% block mytotol %} 主页 {% endblock %}
{% block mycss %} {% endblock %}
{% block script %}
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <div class="navbar-header">
                    <a href="/index.html" class="navbar-brand">
                        <img src="/static/img/logo.png" alt="Nifty Logo" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">Lycmdb</span>
                        </div>
                    </a>
                </div>
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <li class="dropdown">
                            <a id="demo-lang-switch" class="lang-selector dropdown-toggle" href="#"
                               data-toggle="dropdown">
                                <span class="lang-selected">
                                    <img class="lang-flag" src="/static/img/flags/united-kingdom.png" alt="English">
                                </span>
                            </a>

                            <!--Language selector menu-->
                            <ul class="head-list dropdown-menu">
                                <li>
                                    <!--English-->
                                    <a href="#" class="active">
                                        <img class="lang-flag" src="/static/img/flags/united-kingdom.png" alt="English">
                                        <span class="lang-id">EN</span>
                                        <span class="lang-name">English</span>
                                    </a>
                                </li>
                                <li>
                                    <!--France-->
                                    <a href="#">
                                        <img class="lang-flag" src="/static/img/flags/france.png" alt="France">
                                        <span class="lang-id">FR</span>
                                        <span class="lang-name">Fran&ccedil;ais</span>
                                    </a>
                                </li>
                                <li>
                                    <!--Germany-->
                                    <a href="#">
                                        <img class="lang-flag" src="/static/img/flags/germany.png" alt="Germany">
                                        <span class="lang-id">DE</span>
                                        <span class="lang-name">Deutsch</span>
                                    </a>
                                </li>
                                <li>
                                    <!--Italy-->
                                    <a href="#">
                                        <img class="lang-flag" src="/static/img/flags/italy.png" alt="Italy">
                                        <span class="lang-id">IT</span>
                                        <span class="lang-name">Italiano</span>
                                    </a>
                                </li>
                                <li>
                                    <!--Spain-->
                                    <a href="#">
                                        <img class="lang-flag" src="/static/img/flags/spain.png" alt="Spain">
                                        <span class="lang-id">ES</span>
                                        <span class="lang-name">Espa&ntilde;ol</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <i class="demo-pli-male ic-user"></i>
                                </span>
                                <div class="username hidden-xs">{{ request.user }}</div>
                            </a>

                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                                <ul class="head-list">
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-male icon-lg icon-fw"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="badge badge-danger pull-right">9</span>
                                            <i class="demo-pli-mail icon-lg icon-fw"></i> Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="label label-success pull-right">New</span>
                                            <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-information icon-lg icon-fw"></i> Help
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-computer-secure icon-lg icon-fw"></i> Lock screen
                                        </a>
                                    </li>
                                </ul>
                                <div class="pad-all text-right">
                                    <a href="pages-login.html" class="btn btn-primary">
                                        <i class="demo-pli-unlock"></i> Logout
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="aside-toggle navbar-aside-icon">
                                <i class="pci-ver-dots"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="boxed">
            <div id="content-container">
                <div id="page-title">
                    <h1 class="page-header text-overflow">服务器信息查询</h1>
                </div>
                <div id="page-content">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">服务器列表</h3>
                        </div>

                        <!-- Foo Table - Filtering -->
                        <!--===================================================-->
                        <div class="panel-body">
                            <table id="demo-foo-filtering" class="table table-bordered table-hover toggle-circle"
                                   data-page-size="7">
                                <thead>
                                <tr>
                                    <th data-toggle="true">主机名</th>
                                    <th>系统类型</th>
                                    <th data-hide="phone, tablet">发行版本</th>
                                    <th data-hide="phone, tablet">IP地址</th>
                                    <th data-hide="phone, tablet">添加日期</th>
                                    <th data-hide="phone, tablet">状态</th>
                                </tr>
                                </thead>
                                <div class="pad-btm form-inline">
                                    <div class="row">
                                        <div class="col-sm-6 text-xs-center">
                                            <div class="form-group">
                                                <label class="control-label">查询状态</label>
                                                <select id="demo-foo-filter-status" class="form-control">
                                                    <option value="">所有</option>
                                                    <option value="active">开启</option>
                                                    <option value="disabled">关闭</option>
                                                    <option value="suspended">下线</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-xs-center text-right">
                                            <div class="form-group">
                                                <input id="demo-foo-search" type="text" placeholder="Search"
                                                       class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <tbody>
                                {% for host in hosts_obj %}
                                    <tr>
                                        <td data-target="#demo-lg-modal{{ host.id }}" data-toggle="modal" >
                                            <a href="#">{{ host.serviceIp }}</a>
                                        </td>
                                        <div id="demo-lg-modal{{ host.id }}" class="modal fade" tabindex="-1">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><i
                                                                class="pci-cross pci-circle"></i>
                                                        </button>
                                                        <h4 class="modal-title" id="myLargeModalLabel">{{ host.serviceIp}}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="tab-base">

                                                            <!--Nav Tabs-->
                                                            <ul class="nav nav-tabs">
                                                                <li class="active">
                                                                    <a data-toggle="tab" href="#demo-lft-tab-1">属性</a>
                                                                </li>
                                                                <li>
                                                                    <a data-toggle="tab" href="#demo-lft-tab-2">实时信息</a>
                                                                </li>
                                                                <li>
                                                                    <a data-toggle="tab" href="#demo-lft-tab-3">更改记录</a>
                                                                </li>
                                                            </ul>

                                                            <!--Tabs Content-->
                                                            <div class="tab-content">
                                                                <div id="demo-lft-tab-1"
                                                                     class="tab-pane row fade active in">
                                                                    <dev class="row">
                                                                        <h4 class="text-main">基础信息</h4>
                                                                        <dev class="col-sm-6">
                                                                            <p>内网ip: {{ host.serviceIp|judgment_str }}</p>
                                                                            <p>机房: {{ host.room|judgment_str }}</p>
                                                                            <p>区域: {{ host.zone|judgment_str }}</p>
                                                                        </dev>
                                                                        <dev class="col-sm-6">
                                                                            <p>外网ip: {{ host.manageip|judgment_str }}</p>
                                                                            <p>sn: {{ host.sn|judgment_str }}</p>
                                                                        </dev>
                                                                    </dev>
                                                                    <div class="row">
                                                                        <h4 class="text-main">自动发现信息</h4>
                                                                        <div class="col-sm-6">
                                                                            <p class="text-thin">主机名称: {{ host.name|judgment_str }}</p>
                                                                            <p>操作系统名称: {{ host.os_name|judgment_str }}</p>
                                                                            <p>操作系统位数: {{ host.os_bits|judgment_str }}</p>
                                                                            <p>CPU频率: {{ host.cpu_frequency|judgment_str }}</p>
                                                                            <p>内存容量: {{ host.mem_size|judgment_str }}MB</p>
                                                                            <p>内网Mac地址: {{ host.serviceMac|judgment_str }}</p>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <p>操作系统类型: {{ host.os_type|judgment_str }}</p>
                                                                            <p>操作系统版本: {{ host.os_version|judgment_str }}</p>
                                                                            <p>CPU逻辑核心数: {{ host.cpu_logic_count|judgment_str }}</p>
                                                                            <p>CPU型号: {{ host.cpu_model|judgment_str }}</p>
                                                                            <p>磁盘容量: {{ host.disk_size|judgment_str }}</p>
                                                                            <p>外网Mac地址: {{ host.manageMac|judgment_str }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="demo-lft-tab-2" class="tab-pane fade">
                                                                    <p class="text-main text-semibold">Second Tab
                                                                        Content</p>
                                                                    <dev class="row">
                                                                        <dev class="col-lg-push-4">
                                                                            <p id="main" style="width: 350px;height:300px;"></p>
                                                                        </dev>
                                                                        <dev>
                                                                            <span id="main1" style="width: 350px;height:300px;"></span>
                                                                        </dev>
                                                                    </dev>
                                                                </div>
                                                                <div id="demo-lft-tab-3" class="tab-pane fade">
                                                                    <p class="text-main text-semibold">Third Tab
                                                                        Content</p>
                                                                    <p>Lorem ipsum dolor sit amet, consectetuer
                                                                        adipiscing elit.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <td>{{ host.os_type }}</td>
                                        <td>{{ host.os_version }}</td>
                                        <td>{{ host.serviceIp }}</td>
                                        <td>{{ host.create_date.astimezone }}</td>
                                        {% if host.state == "0" %}
                                            <td><span class="label label-table label-success">Active</span></td>
                                        {% else %}
                                            <td><span class="label label-table label-danger">Down</span></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--===================================================-->
                        <!-- End Foo Table - Filtering -->

                    </div>
                </div>
            </div>
            <nav id="mainnav-container">
                <div id="mainnav">
                    <div class="nano">
                        <div class="nano-content">
                            <ul id="mainnav-menu" class="list-group">
                                <!--Menu list item-->
                                <li>
                                    <a href="#">
                                        <i class="demo-psi-pen-5"></i>
                                        <span class="menu-title">表单</span>
                                        <i class="arrow"></i>
                                    </a>

                                    <!--Submenu-->
                                    <ul class="collapse">
                                        <li><a href="forms-general.html">General</a></li>
                                        <li><a href="forms-components.html">Advanced Components</a></li>
                                        <li><a href="forms-validation.html">Validation</a></li>
                                        <li><a href="forms-wizard.html">Wizard</a></li>
                                        <li><a href="forms-file-upload.html">File Upload</a></li>
                                        <li><a href="forms-text-editor.html">Text Editor</a></li>
                                        <li><a href="forms-markdown.html">Markdown</a></li>
                                    </ul>
                                </li>

                                <!--Menu list item-->
                                <li class="active-sub">
                                    <a href="#">
                                        <i class="demo-psi-receipt-4"></i>
                                        <span class="menu-title">业务资源</span>
                                        <i class="arrow"></i>
                                    </a>

                                    <!--Submenu-->
                                    <ul class="collapse in">
                                        <li class="active-link"><a href="#">业务主机</a></li>
                                        <li><a href="#">业务拓扑</a></li>
                                        <li><a href="#">进程管理</a></li>
                                        <li><a href="#">动态分组</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

{% endblock %}

{% block myjs %}
    <script src="/static/js/echarts.min.js"></script>
    <script>
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            series: [
                {
                    name: '业务指标',
                    type: 'gauge',
                    detail: {formatter: '12%'},
                    data: [{value: 12, name: '使用率'}]
                }
            ]
        };
        myChart.setOption(option);

        var myChart1 = echarts.init(document.getElementById('main1'));
        var option1 = {
            series: [
                {
                    name: '业务指标',
                    type: 'gauge',
                    detail: {formatter: '12%'},
                    data: [{value: 12, name: '使用率'}]
                }
            ]
        };
        myChart1.setOption(option1);
    </script>
{% endblock %}