{% extends 'master.html' %}
{% load node_dispaly %}
{% block mytotol %} {% endblock %}
{% block mycss %} {% endblock %}
{% block script %}
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <label>
                  <input type="checkbox" value="option1">
                </label>
            </th>
            <th>IP地址</th>
            <th>节点类型</th>
            <th>状态</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in agent_host %}
            <tr>
                <td class="hidden">
                    <input type="text" value="{{ i.id }}" />
                </td>
                <td>
                    <label>
                      <input type="checkbox" value="option1">
                    </label>
                </td>
                <td>{{ i.hostip }}</td>
                <td>Agent</td>
                <td>{{ i.get_state_display|agent_state|safe }}</td>
                <td>{{ i.update_date|date_obj }}</td>
                <td>
                    <a href="#" class="installAgent">安装</a>
                    <a href="#" class="uninstall">卸载</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block myjs %}
    <script>
    $(document).ready(function () {
        $(".installAgent").click(function () {
            var agent_id = $(this).parent('td').parent('tr').children(0).children("input").val()
            $.ajax({
                url: "{% url "salt_agent_deploy" %}",
                type: "POST",
                data: {deploy_data:JSON.stringify({"ids": [agent_id]})},
                success:function (data) {
                    if (data.get("error")){
                        alert("agent安装失败");
                    }else{
                        alert("安装成功");
                    }
                    window.location.reload()
                },
                error:function (data) {
                    alert("提交失败"+JSON.stringify(data))
                }
            });
        })
    })
    </script>
{% endblock %}