{% extends 'master.html' %}
{% load node_dispaly %}
{% block mytotol %} {% endblock %}
{% block mycss %} {% endblock %}
{% block script %}
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <label>
                  <input type="checkbox" value="option1">
                </label>
            </th>
            <th>IP地址</th>
            <th>节点类型</th>
            <th>状态</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in agent_host %}
            <tr>
                <input type="text" class="hidden"  name="ids" value="{{ i.id }}" />
                <td>
                    <label>
                      <input type="checkbox" value="option1">
                    </label>
                </td>
                <td>{{ i.hostip }}</td>
                <td>Agent</td>
                <td>{{ i.get_state_display|agent_state|safe }}</td>
                    <td>{{ i.update_date|date_obj }}</td>
                <td>
                    <a href="#" class="installAgent">安装</a>
                    <a href="#" class="uninstall">卸载</a>
                </td>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block myjs %}
    <script>
    $(document).ready(function () {
        $(".installAgent").click(function () {
            var data = {"name": "yanweijian", "age": 18};
            $.ajax({
                url: "{% url "salt_agent_deploy" %}",
                type: "POST",
                dataType: "JSON",
                data: {data},
                success:function (data) {
                    alert("任务下发成功")
                }
            })
        })
    })
    </script>
{% endblock %}